<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/admin/create}" th:object="${user}" method="post" >
    <table>
        <tr>
            <td>Имя:</td>
            <td><input type="text" required th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td><input type="number" required th:field="*{age}" /></td>
        </tr>
        <tr>
            <td>Город:</td>
            <td><input type="text" required th:field="*{city}" /></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input type="password" required th:field="*{password}" /></td>
        </tr>
        <tr>
            <div class="list">
                <div class="row">
                    <label class="form-check-label form-check-inline">Roles:</label>
                    <th:block th:each="role1 : ${roles}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="roles"
                                   th:text="${role1.name}"
                                   th:value="${role1}"
                                   th:field="*{role}">
                        </div>
                    </th:block>
                </div>
            </div>
        </tr>
        <tr>
            <td><button type="submit">Отправить</button></td>
        </tr>
    </table>
</form>
</body>
</html>