<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
ID: <span th:text="${user.id}"></span><br>
Имя: <span th:text="${user.firstName}"></span><br>
Возраст: <span th:text="${user.age}">!</span><br>
Роль: <span th:text="${user.getRolesByString()}"></span><br>
</body>
<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</html>