<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
asd<span th:text="${user.id}">Welcome to our grocery store!</span>asd
<p th:text="${user.name}">Welcome to our grocery store!</p>
<p th:text="${user.age}">Welcome to our grocery store!</p>
<p th:text="${user.role}">Welcome to our grocery store!</p>

</body>
</html>