<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <text class="navbar-brand">
            <span class="fw-bold" th:text="${user.email}"></span>
            with roles:
            <span th:text="${user.getRolesByString()}"></span>
        </text>
        <form th:action="@{/logout}" method="POST">
            <input class="btn btn-dark" type="submit" value="Logout"/>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-2">
            <br>
            <ul class="nav flex-column nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">User</a>
                </li>
            </ul>
        </div>
        <div class="col bg-light">
            <div class="container">
                <br>
                <p class="h1">User information-page</p>
                <br>
                    <div class="container border">
                        <br>
                        <p class="h4">About user</p>
                    </div>
                    <div class="container border bg-white">
                        <br>
                        <table class="table table-striped border-top">
                            <tr></tr>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            <tr>
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.firstName}"></td>
                                <td th:utext="${user.lastName}"></td>
                                <td th:utext="${user.age}"></td>
                                <td th:utext="${user.email}"></td>
                                <td th:utext="${user.getRolesByString()}"></td>
                            </tr>
                        </table>
                    </div>
                    <br>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>